/*$ID$*/

#shadowbox {
  min-width: 180px;
}

#shadowbox_body_inner {
  text-align: center;
}

#shadowbox_content {
  position: relative !important;
}

.node-form .shadowbox-options .form-text {
  display: inline;
  width: auto;
}